.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 15%
    left: 7%
    width: 50px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 64%
    left: -5%
    width: 64px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    right: 45%
    width: 84px
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 19%
    width: 70px
  &-5
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 20%
    width: 80px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
  background-image: url('../assets/curso/portada/fondo-banner-principal-mobile.png') !important

@media (min-width: 440px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
    padding-right: 130px

@media (min-width: 768px)
  .banner-principal .tarjeta
    padding-right: 0
    overflow: hidden

  .banner-principal__info
    padding-right: 85px !important

@media (min-width: 1024px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal.png') !important

  .banner-principal__info
    padding-right: unset !important

@media (max-width: 440px)
  .banner-principal__descripcion
    margin-bottom: 30px
    padding-right: 60px
  .banner-principal__accion
    margin-top: 30px
    margin-bottom: 80px
  .banner-principal__componente
    padding-top: 40px
    padding-right: 40px
    margin-bottom: 40px

.banner-principal__row .banner-principal__img
  width: 400px !important  
  padding-bottom: 0 !important
  padding-top: 0 !important
  align-self: flex-end

  @media (min-width: 1200px)
    width: 500px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $white
  
.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner-interno.png') !important

figcaption, caption
  font-weight: normal

.bg-color-terciario-t5
  background-color: $color-terciario-t5

.bg-color-secundario-s5
  background-color: $color-secundario-s5

.bg-color-acento-contenido-a5
  background-color: $color-acento-contenido-a5

.bg-gradiente
  background: #7439A8
  background: linear-gradient(90deg, rgba(116, 57, 168, 1) 0%, rgba(83, 41, 120, 1) 100%)

.color-acento-botones
  color: $color-acento-botones

.fullwidth-bg
  position: relative
  z-index: 0

  &--1::after
    top: 0px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema3/bg-1.png')

    @media (max-width: 450px)
      display: none

  &--2::after
    top: 0px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema2/bg-1.png')

    @media (max-width: 450px)
      display: none

  &--3::after
    top: 0
    left: -60px
    position: absolute
    height: 440px
    width: 1440px
    background: #FFFFFF
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.53) 0%, rgba(238, 250, 243, 0.5) 20%, rgba(238, 250, 243, 0.5) 80%, rgba(255, 255, 255, 0.62) 100%)
    content: ''

.z-2
  z-index: 2
  position: relative

.accesibilidad
  z-index: 10

.factores-slider
  background-color: #F6F6F6
  .slyder-f
    align-items: center

    .slyder-f__main
      width: 70%

      @media (min-width: 769px)
        width: 80%

  .slyder-f__btn
    height: 35px
    width: 35px
    max-width: 35px
    background-color: $color-acento-botones
    border-radius: 50%
    padding: 0 !important
    margin: 0 auto
    .fa-chevron-left
      font-size: 20px
    .fa-chevron-right
      font-size: 20px

.card-decoration
  background-color: #FFFFFF

.font-small
  font-size: 14px

.banner-text
  background-color: $color-terciario-t5
  border-radius: 10px
  padding: 20px 30px
  margin-top: -10px

@media (min-width: 992px)
  .banner-text
    margin-top: -40px

.drop-shadow
  filter: drop-shadow(0px 3px 5px #00000005)

.conservas-slyder
  background-color: $color-terciario-t5

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: $color-acento-botones
    border: none
    transition-delay: 0.1s
    opacity: 0.9

    &.hide
      opacity: 0
      pointer-events: none

  .slyder-a__bullets__item
    background-color: #A854F3
    border: 1px solid #A854F3
    opacity: 0.3
    margin: 0 8px
  .slyder-a__bullets__item--active
    opacity: 1

  &.more-elements
    @media (max-width: 650px)
      .slyder-a__bullets__item
        width: 10px
        height: 10px
        margin: 0 3px

.checklist
  padding-left: 20px
  width: fit-content

  li
    position: relative
    padding: 0 20px
    padding-left: 0
    // border-bottom: 1px dotted #AFAFAF

    &:last-child
      border-bottom: none
    &::before
      content: url('../assets/curso/temas/check-icon.svg')
      position: absolute
      left: -20px

.custom-timeline
  .linea-tiempo-d__item__content__title
    background-color: #E5D9FF

  .linea-tiempo-d__item__content__slot
    background-color: #E8E8E8

  .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
    background-color: $color-secundario-s5

  .linea-tiempo-d__item.row.linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number.tarjeta.tarjeta--gris
      background-color: $color-secundario
      color: white

  .linea-tiempo-d__item.row.linea-tiempo-d__item--selected
    .linea-tiempo-d__item__content__title
      background-color: #E8E8E8

.acordion-conservas
  background-color: #E5D9FF
  color: #12263F
  &--borde
    background-color: lighten($color-acento-contenido, 50%)
    color: #12263F
    border: solid 4px $color-acento-contenido

  .acordion__accion__btn--a
    background-color: #A854F3
    color: #FFFFFF

  &.acordion__activo
    background-color: #E8E8E8

.w-72
  width: 72px
  margin: 0 auto

.w-90
  width: 90px
  margin: 0 auto

.graph-title
  position: relative
  width: fit-content
  padding: 10px 30px
  padding-left: 50px
  background-color: #3A1D71
  color: #FFFFFF
  margin-left: 30px
  border-radius: 20px
  margin-top: 20px
  &::before
    content: url('../assets/curso/temas/tema1/4.svg')
    position: absolute
    left: -40px
    top: 50%
    transform: translateY(-50%)
    max-width: 65px
    display: block

.crd_hover_txt 
  position: relative
  padding: 0
  overflow: hidden
  border-radius: 10px


.crd_hover_txt:hover .crd_hover_txt--body 
  transition: all .3s ease-in-out
  transform: translateY(0)


.crd_hover_txt .crd_hover_txt--body 
  position: absolute
  padding: 18px 13px 30px
  bottom: 0
  transition: all .3s ease-in-out
  transform: translateY(calc(100% - 55px))
  background-color: #CEDAF8

@media (min-width: 1200px) and (max-width:1400px) 
  .crd_hover_txt .crd_hover_txt--body p 
      font-size: 14px
      line-height: 18px

.tabla-a
  td
    text-align: start